<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baba.mapper.OrderDetailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.baba.pojo.OrderDetail">
        <id column="id" property="id" />
        <result column="order_id" property="orderId" />
        <result column="sku_id" property="skuId" />
        <result column="num" property="num" />
        <result column="title" property="title" />
        <result column="own_spec" property="ownSpec" />
        <result column="price" property="price" />
        <result column="image" property="image" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, order_id, sku_id, num, title, own_spec, price, image
    </sql>

    <!-- 通用别名查询结果列 -->
    <sql id="Alias_Base_Column_List">
        id as id, order_id as orderId, sku_id as skuId, num as num, title as title, own_spec as ownSpec, price as price, image as image
    </sql>

    <!-- 通用别名查询结果列(建议复杂关联查询时，使用) -->
    <sql id="Alias_Param_Base_Column_List">
        ${alias}.id as id, ${alias}.order_id as orderId, ${alias}.sku_id as skuId, ${alias}.num as num, ${alias}.title as title, ${alias}.own_spec as ownSpec, ${alias}.price as price, ${alias}.image as image
    </sql>
</mapper>
