<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="OrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="Order">
        <id column="order_id" property="orderId" />
        <result column="total_pay" property="totalPay" />
        <result column="actual_pay" property="actualPay" />
        <result column="promotion_ids" property="promotionIds" />
        <result column="payment_type" property="paymentType" />
        <result column="post_fee" property="postFee" />
        <result column="create_time" property="createTime" />
        <result column="shipping_name" property="shippingName" />
        <result column="shipping_code" property="shippingCode" />
        <result column="user_id" property="userId" />
        <result column="buyer_message" property="buyerMessage" />
        <result column="buyer_nick" property="buyerNick" />
        <result column="buyer_rate" property="buyerRate" />
        <result column="receiver_state" property="receiverState" />
        <result column="receiver_city" property="receiverCity" />
        <result column="receiver_district" property="receiverDistrict" />
        <result column="receiver_address" property="receiverAddress" />
        <result column="receiver_mobile" property="receiverMobile" />
        <result column="receiver_zip" property="receiverZip" />
        <result column="receiver" property="receiver" />
        <result column="invoice_type" property="invoiceType" />
        <result column="source_type" property="sourceType" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        order_id, total_pay, actual_pay, promotion_ids, payment_type, post_fee, create_time, shipping_name, shipping_code, user_id, buyer_message, buyer_nick, buyer_rate, receiver_state, receiver_city, receiver_district, receiver_address, receiver_mobile, receiver_zip, receiver, invoice_type, source_type
    </sql>

    <!-- 通用别名查询结果列 -->
    <sql id="Alias_Base_Column_List">
        order_id as orderId, total_pay as totalPay, actual_pay as actualPay, promotion_ids as promotionIds, payment_type as paymentType, post_fee as postFee, create_time as createTime, shipping_name as shippingName, shipping_code as shippingCode, user_id as userId, buyer_message as buyerMessage, buyer_nick as buyerNick, buyer_rate as buyerRate, receiver_state as receiverState, receiver_city as receiverCity, receiver_district as receiverDistrict, receiver_address as receiverAddress, receiver_mobile as receiverMobile, receiver_zip as receiverZip, receiver as receiver, invoice_type as invoiceType, source_type as sourceType
    </sql>

    <!-- 通用别名查询结果列(建议复杂关联查询时，使用) -->
    <sql id="Alias_Param_Base_Column_List">
        ${alias}.order_id as orderId, ${alias}.total_pay as totalPay, ${alias}.actual_pay as actualPay, ${alias}.promotion_ids as promotionIds, ${alias}.payment_type as paymentType, ${alias}.post_fee as postFee, ${alias}.create_time as createTime, ${alias}.shipping_name as shippingName, ${alias}.shipping_code as shippingCode, ${alias}.user_id as userId, ${alias}.buyer_message as buyerMessage, ${alias}.buyer_nick as buyerNick, ${alias}.buyer_rate as buyerRate, ${alias}.receiver_state as receiverState, ${alias}.receiver_city as receiverCity, ${alias}.receiver_district as receiverDistrict, ${alias}.receiver_address as receiverAddress, ${alias}.receiver_mobile as receiverMobile, ${alias}.receiver_zip as receiverZip, ${alias}.receiver as receiver, ${alias}.invoice_type as invoiceType, ${alias}.source_type as sourceType
    </sql>
</mapper>
