<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baba.role.mapper.RoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.baba.role.pojo.Role">
        <id column="role_id" property="roleId" />
        <result column="name" property="name" />
        <result column="is_admin" property="isAdmin" />
        <result column="available" property="available" />
        <result column="creater_by_id" property="createrById" />
        <result column="create_date_time" property="createDateTime" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        role_id, name, is_admin, available, creater_by_id, create_date_time, remark
    </sql>

    <!-- 通用别名查询结果列 -->
    <sql id="Alias_Base_Column_List">
        role_id as roleId, name as name, is_admin as isAdmin, available as available, creater_by_id as createrById, create_date_time as createDateTime, remark as remark
    </sql>

    <!-- 通用别名查询结果列(建议复杂关联查询时，使用) -->
    <sql id="Alias_Param_Base_Column_List">
        ${alias}.role_id as roleId, ${alias}.name as name, ${alias}.is_admin as isAdmin, ${alias}.available as available, ${alias}.creater_by_id as createrById, ${alias}.create_date_time as createDateTime, ${alias}.remark as remark
    </sql>
</mapper>
